/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "intro world world area1"
    "area7 world world area2"
    "area6 area5 area4 area3";
}

.item.intro {
  background: red;
  grid-area: intro;
}

.item.world {
  background: black;
  grid-area: world;
}

.item.area-1 {
  background: yellow;
  grid-area: area1;
}

.item.area-2 {
  background: yellow;
  grid-area: area2;
}
.item.area-3 {
  background: yellow;
  grid-area: area3;
}
.item.area-4 {
  background: yellow;
  grid-area: area4;
}
.item.area-5 {
  background: yellow;
  grid-area: area5;
}
.item.area-6 {
  background: yellow;
  grid-area: area6;
}

.item.area-7 {
  background: yellow;
  grid-area: area7;
}
